# Merging multiple dataframes together in order to get a combined column

In [1]:
import pandas as pd

In [2]:
%store -r HnS_df
HnS_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,left_shoulder,right_shoulder,head,left_shoulder_diff,right_shoulder_diff,head_shoulders
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100323,469033600,NaN,0.161272,NaN,NaN,NaN,0
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095089,175884800,NaN,0.161272,NaN,NaN,NaN,0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088110,105728000,NaN,0.161272,NaN,NaN,NaN,0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090291,86441600,NaN,0.161272,NaN,NaN,NaN,0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092908,73449600,NaN,0.161272,NaN,NaN,NaN,0

In [3]:
HnS_new_df = HnS_df.loc[:, ['Date','left_shoulder', 'right_shoulder', 'left_shoulder_diff', 'right_shoulder_diff', 'head_shoulders']]
HnS_new_df.head()

,Date,left_shoulder,right_shoulder,left_shoulder_diff,right_shoulder_diff,head_shoulders
0,1980-12-12,NaN,0.161272,NaN,NaN,0
1,1980-12-15,NaN,0.161272,NaN,NaN,0
2,1980-12-16,NaN,0.161272,NaN,NaN,0
3,1980-12-17,NaN,0.161272,NaN,NaN,0
4,1980-12-18,NaN,0.161272,NaN,NaN,0

In [4]:
%store -r Bollinger_df
Bollinger_df.head()

          Date  BB_upperband  BB_lowerband  Max_Min_diff  Open_Close_diff
19  1981-01-12      0.167874      0.109302      0.001116         0.001116
20  1981-01-13      0.167896      0.110062      0.000558         0.000558
21  1981-01-14      0.167511      0.111953      0.000558         0.000000
22  1981-01-15      0.165781      0.116362      0.001116         0.000000
23  1981-01-16      0.163873      0.120558      0.000558         0.000558

In [5]:
merged_df = pd.merge(Bollinger_df, HnS_new_df, on='Date', how='inner')

In [6]:
merged_df.head()

,Date,BB_upperband,BB_lowerband,Max_Min_diff,Open_Close_diff,left_shoulder,right_shoulder,left_shoulder_diff,right_shoulder_diff,head_shoulders
0,1981-01-12,0.167874,0.109302,0.001116,0.001116,0.161272,0.147879,0.000000,0.083046,0
1,1981-01-13,0.167896,0.110062,0.000558,0.000558,0.161272,0.147879,-0.024821,0.060286,0
2,1981-01-14,0.167511,0.111953,0.000558,0.000000,0.161272,0.147879,-0.039566,0.046766,1
3,1981-01-15,0.165781,0.116362,0.001116,0.000000,0.161272,0.147879,-0.039566,0.046766,1
4,1981-01-16,0.163873,0.120558,0.000558,0.000558,0.161272,0.147879,-0.066416,0.022145,1

In [7]:
%store -r kc_df

In [8]:
kc_df = kc_df.loc[:, ['Date','kc_middle', 'kc_upper', 'kc_lower']]
kc_df.head()

        Date  kc_middle  kc_upper  kc_lower
0 1980-12-12   0.128348  0.129464  0.127232
1 1980-12-15   0.124918  0.132495  0.117341
2 1980-12-16   0.120653  0.132024  0.109283
3 1980-12-17   0.119273  0.129284  0.109261
4 1980-12-18   0.119182  0.128657  0.109708

In [9]:
merged_df['Date'] = pd.to_datetime(merged_df['Date'])
merged_df_2 = pd.merge(kc_df, merged_df, on='Date', how='inner')

In [10]:
merged_df_2.head()

,Date,kc_middle,kc_upper,kc_lower,BB_upperband,BB_lowerband,Max_Min_diff,Open_Close_diff,left_shoulder,right_shoulder,left_shoulder_diff,right_shoulder_diff,head_shoulders
0,1981-01-12,0.140693,0.150749,0.130638,0.167874,0.109302,0.001116,0.001116,0.161272,0.147879,0.000000,0.083046,0
1,1981-01-13,0.140357,0.150411,0.130302,0.167896,0.110062,0.000558,0.000558,0.161272,0.147879,-0.024821,0.060286,0
2,1981-01-14,0.140094,0.149280,0.130907,0.167511,0.111953,0.000558,0.000000,0.161272,0.147879,-0.039566,0.046766,1
3,1981-01-15,0.140052,0.149088,0.131016,0.165781,0.116362,0.001116,0.000000,0.161272,0.147879,-0.039566,0.046766,1
4,1981-01-16,0.139938,0.148234,0.131641,0.163873,0.120558,0.000558,0.000558,0.161272,0.147879,-0.066416,0.022145,1

In [11]:
%store -r rsi_df
rsi_df.head()

          Date        RSI
14  1981-01-05  64.493299
15  1981-01-06  58.970446
16  1981-01-07  54.374494
17  1981-01-08  52.376299
18  1981-01-09  56.819429

In [12]:
rsi_df['Date'] = pd.to_datetime(rsi_df['Date'])
merged_df_3 = pd.merge(rsi_df, merged_df_2, on='Date', how='inner')

In [13]:
merged_df_3.head()

,Date,RSI,kc_middle,kc_upper,kc_lower,BB_upperband,BB_lowerband,Max_Min_diff,Open_Close_diff,left_shoulder,right_shoulder,left_shoulder_diff,right_shoulder_diff,head_shoulders
0,1981-01-12,55.954516,0.140693,0.150749,0.130638,0.167874,0.109302,0.001116,0.001116,0.161272,0.147879,0.000000,0.083046,0
1,1981-01-13,52.110395,0.140357,0.150411,0.130302,0.167896,0.110062,0.000558,0.000558,0.161272,0.147879,-0.024821,0.060286,0
2,1981-01-14,52.500867,0.140094,0.149280,0.130907,0.167511,0.111953,0.000558,0.000000,0.161272,0.147879,-0.039566,0.046766,1
3,1981-01-15,54.498558,0.140052,0.149088,0.131016,0.165781,0.116362,0.001116,0.000000,0.161272,0.147879,-0.039566,0.046766,1
4,1981-01-16,53.528775,0.139938,0.148234,0.131641,0.163873,0.120558,0.000558,0.000558,0.161272,0.147879,-0.066416,0.022145,1

In [14]:
%store -r ma_df
ma_df['Date'] = pd.to_datetime(ma_df['Date'])
merged_df_4 = pd.merge(ma_df, merged_df_3, on='Date', how='inner')

In [15]:
merged_df_4.head()

,Date,MA,RSI,kc_middle,kc_upper,kc_lower,BB_upperband,BB_lowerband,Max_Min_diff,Open_Close_diff,left_shoulder,right_shoulder,left_shoulder_diff,right_shoulder_diff,head_shoulders
0,1981-02-25,0.132266,41.038379,0.125797,0.134578,0.117017,0.137111,0.103402,0.000558,0.000000,0.138951,0.120536,-0.131818,0.018181,1
1,1981-02-26,0.132121,42.859823,0.125208,0.133555,0.116860,0.133753,0.104360,0.000558,0.000000,0.133929,0.120536,-0.090911,0.018181,1
2,1981-02-27,0.132232,46.976857,0.124852,0.133370,0.116334,0.131364,0.105243,0.001116,0.000000,0.128906,0.120536,-0.049997,0.018181,1
3,1981-03-02,0.132299,47.558019,0.124545,0.132432,0.116658,0.130481,0.105401,0.000558,0.000000,0.128906,0.120536,-0.049997,0.018181,1
4,1981-03-03,0.132266,45.931538,0.124169,0.131601,0.116737,0.130393,0.105321,0.000558,0.000558,0.128906,0.120536,-0.049997,0.018181,1

In [16]:
Max_Min_diff = merged_df_4.pop('Max_Min_diff')
merged_df_4.insert(len(merged_df_4.columns), 'Max_Min_diff', Max_Min_diff)

Open_Close_diff = merged_df_4.pop('Open_Close_diff')
merged_df_4.insert(len(merged_df_4.columns), 'Open_Close_diff', Open_Close_diff)

merged_df_4.head()

df = pd.read_csv('AAPL.csv')
df.head()
new_df = df[['Date', 'Close']]
new_df.head()
new_df['Date'] = pd.to_datetime(new_df['Date'])
merged_df_4 = merged_df_4.merge(new_df[['Date', 'Close']], on='Date')

<ipython-input-16-95cb813a7870>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Date'] = pd.to_datetime(new_df['Date'])

# Attempting Random Forest on the data

In [17]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# define the features and label
features = ['MA', 'RSI', 'kc_middle', 'kc_upper', 'kc_lower', 'BB_upperband', 'BB_lowerband', 'left_shoulder', 'right_shoulder', 'left_shoulder_diff', 'right_shoulder_diff', 'head_shoulders', 'Open_Close_diff']
label = 'Max_Min_diff'

# split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(merged_df_4[features], merged_df_4[label], test_size=0.3, random_state=42)

# create the random forest regressor and fit it to the training data
rfr = RandomForestRegressor(n_estimators=100, random_state=42)
rfr.fit(X_train, y_train)

# make predictions on the testing data
y_pred = rfr.predict(X_test)

# evaluate the performance of the model
mse = mean_squared_error(y_test, y_pred)
print('MSE:', mse)

# predict the Max_Min_diff label for new data
new_data = [[21.16, 52.78, 131.48, 133.57, 129.39, 137.34, 125.62, 120.4, 140.6, 4.72, 6.88, 129.09, 1.43]]
prediction = rfr.predict(new_data)
print('Prediction:', prediction)

MSE: 0.002682479486383407
Prediction: [1.51141818]

In [18]:
# set the threshold value
threshold = 2.0

# convert the continuous output to binary "Buy or Sell" label
def convert_output(prediction, threshold):
    if prediction > threshold:
        return 1
    elif prediction < -threshold:
        return 0
    else:
        return 0.5

# predict the "Buy or Sell" label for new data
prediction = convert_output(prediction, threshold)
print('Buy or Sell:', prediction)

Buy or Sell: 0.5

# Attempting SVM on the data

In [19]:
merged_df_4.head()

,Date,MA,RSI,kc_middle,kc_upper,kc_lower,BB_upperband,BB_lowerband,left_shoulder,right_shoulder,left_shoulder_diff,right_shoulder_diff,head_shoulders,Max_Min_diff,Open_Close_diff,Close
0,1981-02-25,0.132266,41.038379,0.125797,0.134578,0.117017,0.137111,0.103402,0.138951,0.120536,-0.131818,0.018181,1,0.000558,0.000000,0.112723
1,1981-02-26,0.132121,42.859823,0.125208,0.133555,0.116860,0.133753,0.104360,0.133929,0.120536,-0.090911,0.018181,1,0.000558,0.000000,0.114397
2,1981-02-27,0.132232,46.976857,0.124852,0.133370,0.116334,0.131364,0.105243,0.128906,0.120536,-0.049997,0.018181,1,0.001116,0.000000,0.118304
3,1981-03-02,0.132299,47.558019,0.124545,0.132432,0.116658,0.130481,0.105401,0.128906,0.120536,-0.049997,0.018181,1,0.000558,0.000000,0.118862
4,1981-03-03,0.132266,45.931538,0.124169,0.131601,0.116737,0.130393,0.105321,0.128906,0.120536,-0.049997,0.018181,1,0.000558,0.000558,0.117188

In [20]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# create a new column "Price_Movement" to indicate the price movement (0 = decrease, 1 = increase)
merged_df_4['Price_Movement'] = merged_df_4['Close'].diff().apply(lambda x: 1 if x > 0 else 0)
merged_df_4['Price_Movement'].iloc[0] = 0 # set the first value to 0

# define the features and label
features = ['MA', 'RSI', 'kc_middle', 'kc_upper', 'kc_lower', 'BB_upperband', 'BB_lowerband', 'left_shoulder', 'right_shoulder', 'left_shoulder_diff', 'right_shoulder_diff', 'head_shoulders', 'Max_Min_diff', 'Open_Close_diff']
label = 'Price_Movement'

# split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(merged_df_4[features], merged_df_4[label], test_size=0.3, random_state=42)

# create the SVM classifier and fit it to the training data
svm = SVC(kernel='rbf', gamma='auto', C=1.0, random_state=42)
svm.fit(X_train, y_train)

# make predictions on the testing data
y_pred = svm.predict(X_test)

# evaluate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)

merged_df_4.tail()

<ipython-input-20-93770c91735a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_4['Price_Movement'].iloc[0] = 0 # set the first value to 0

Accuracy: 0.6090142909490656

,Date,MA,RSI,kc_middle,kc_upper,kc_lower,BB_upperband,BB_lowerband,left_shoulder,right_shoulder,left_shoulder_diff,right_shoulder_diff,head_shoulders,Max_Min_diff,Open_Close_diff,Close,Price_Movement
9089,2017-03-10,31.97745,75.701278,32.874473,33.552041,32.196905,35.370251,33.183248,35.070000,36.365002,0.017647,-0.018627,1,0.180000,0.027500,34.785000,1
9090,2017-03-13,32.08965,75.866426,32.966165,33.606475,32.325854,35.310325,33.420174,35.070000,36.365002,0.017647,-0.018627,1,0.152496,-0.087497,34.799999,1
9091,2017-03-14,32.20095,73.971376,33.050990,33.667770,32.434211,35.257257,33.615743,35.070000,36.365002,0.026104,-0.009858,1,0.202499,0.077500,34.747501,0
9092,2017-03-17,32.56670,72.486899,33.143681,33.799282,32.488080,35.374618,33.879882,35.255001,36.365002,0.024083,-0.006644,1,0.277500,0.252499,34.997501,1
9093,2017-03-21,32.80060,65.000598,33.230173,33.973714,32.486631,35.444768,34.031733,35.700001,36.365002,0.014425,-0.003934,1,0.767502,0.567501,34.959999,0

# Attempting XGboost on the data

In [21]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# define the features and target
features = ['MA', 'RSI', 'kc_middle', 'kc_upper', 'kc_lower', 'BB_upperband', 'BB_lowerband', 'left_shoulder', 'right_shoulder', 'left_shoulder_diff', 'right_shoulder_diff', 'head_shoulders', 'Max_Min_diff', 'Open_Close_diff']
target = 'Price_Movement'

# split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(merged_df_4[features], merged_df_4[target], test_size=0.2, random_state=42)

# create the XGBoost classifier and fit it to the training data
xgb_model = xgb.XGBClassifier(random_state=42)
xgb_model.fit(X_train, y_train)

# make predictions on the testing data
y_pred = xgb_model.predict(X_test)

# evaluate the performance of the model
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)

Accuracy: 0.8499175371083013

# Testing artificial neural networks

In [25]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Create the feature matrix X and target vector y from your merged_df_4 dataframe
X = merged_df_4.drop(columns=['Price_Movement', 'Date'])
y = merged_df_4['Price_Movement']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the decision tree classifier and fit it to the training data
clf = DecisionTreeClassifier(random_state=42)
clf.fit(X_train, y_train)

# Predict the price movement for the testing data
y_pred = clf.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8108851017042331