# Cleaning data to get the final table: merged_df_4

In [21]:
import pandas as pd

In [22]:
%store -r HnS_df
HnS_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,left_shoulder,right_shoulder,head,left_shoulder_diff,right_shoulder_diff,head_shoulders
19,1981-01-12,0.142299,0.142299,0.141183,0.141183,0.110356,23699200,0.161272,0.147879,0.161272,0.000000,0.083046,0
20,1981-01-13,0.136719,0.136719,0.136161,0.136161,0.106430,23049600,0.161272,0.147879,0.157366,-0.024821,0.060286,0
21,1981-01-14,0.136719,0.137277,0.136719,0.136719,0.106866,14291200,0.161272,0.147879,0.155134,-0.039566,0.046766,1
22,1981-01-15,0.139509,0.140625,0.139509,0.139509,0.109047,14067200,0.161272,0.147879,0.155134,-0.039566,0.046766,1
23,1981-01-16,0.138951,0.138951,0.138393,0.138393,0.108175,13395200,0.161272,0.147879,0.151228,-0.066416,0.022145,1

In [23]:
HnS_new_df = HnS_df.loc[:, ['Date','left_shoulder', 'right_shoulder', 'left_shoulder_diff', 'right_shoulder_diff', 'head_shoulders']]
HnS_new_df.head()

,Date,left_shoulder,right_shoulder,left_shoulder_diff,right_shoulder_diff,head_shoulders
19,1981-01-12,0.161272,0.147879,0.000000,0.083046,0
20,1981-01-13,0.161272,0.147879,-0.024821,0.060286,0
21,1981-01-14,0.161272,0.147879,-0.039566,0.046766,1
22,1981-01-15,0.161272,0.147879,-0.039566,0.046766,1
23,1981-01-16,0.161272,0.147879,-0.066416,0.022145,1

In [24]:
%store -r Bollinger_df
Bollinger_df.head()

,Date,BB_upperband,BB_lowerband,Max_Min_diff,Open_Close_diff,SMA
19,1981-01-12,0.167874,0.109302,0.001116,0.001116,0.138588
20,1981-01-13,0.167896,0.110062,0.000558,0.000558,0.138979
21,1981-01-14,0.167511,0.111953,0.000558,0.000000,0.139732
22,1981-01-15,0.165781,0.116362,0.001116,0.000000,0.141071
23,1981-01-16,0.163873,0.120558,0.000558,0.000558,0.142215

In [25]:

merged_df = pd.merge(Bollinger_df, HnS_new_df, on='Date', how='inner')

In [26]:
merged_df.tail()

,Date,BB_upperband,BB_lowerband,Max_Min_diff,Open_Close_diff,SMA,left_shoulder,right_shoulder,left_shoulder_diff,right_shoulder_diff,head_shoulders
10365,2022-02-17,181.036470,157.983530,3.440003,2.149994,169.510000,176.649994,170.539993,0.000000,0.034588,1
10366,2022-02-18,180.846092,158.662908,4.349991,2.520004,169.754500,176.649994,168.910004,0.000000,0.043815,1
10367,2022-02-22,180.624198,159.154803,4.540008,0.659989,169.889500,176.649994,169.419998,0.000000,0.040928,1
10368,2022-02-23,180.581833,159.226169,6.399994,5.469986,169.904001,176.649994,172.639999,0.000000,0.022700,1
10369,2022-02-24,180.193545,159.919457,10.850006,-10.160003,170.056501,176.649994,174.139999,-0.006667,0.007636,1

In [27]:
%store -r kc_df

In [28]:
kc_df = kc_df.loc[:, ['Date','kc_middle', 'kc_upper', 'kc_lower']]
kc_df.tail(
)

             Date   kc_middle    kc_upper    kc_lower
10404  2022-03-18  164.188274  174.130122  154.246425
10405  2022-03-21  164.245023  173.860688  154.629357
10406  2022-03-22  164.462879  174.018977  154.906781
10407  2022-03-23  164.736552  174.335041  155.138063
10408  2022-03-24  165.181002  174.605641  155.756364

In [29]:
kc_df['Date'] = pd.to_datetime(kc_df['Date'])
merged_df['Date'] = pd.to_datetime(merged_df['Date'])
merged_df_2 = pd.merge(kc_df, merged_df, on='Date', how='inner')

In [30]:
merged_df_2.tail()

,Date,kc_middle,kc_upper,kc_lower,BB_upperband,BB_lowerband,Max_Min_diff,Open_Close_diff,SMA,left_shoulder,right_shoulder,left_shoulder_diff,right_shoulder_diff,head_shoulders
10365,2022-02-17,170.007667,178.210924,161.804409,181.036470,157.983530,3.440003,2.149994,169.510000,176.649994,170.539993,0.000000,0.034588,1
10366,2022-02-18,169.878730,178.131660,161.625800,180.846092,158.662908,4.349991,2.520004,169.754500,176.649994,168.910004,0.000000,0.043815,1
10367,2022-02-22,169.614029,178.071668,161.156391,180.624198,159.154803,4.540008,0.659989,169.889500,176.649994,169.419998,0.000000,0.040928,1
10368,2022-02-23,169.159552,178.051425,160.267678,180.581833,159.226169,6.399994,5.469986,169.904001,176.649994,172.639999,0.000000,0.022700,1
10369,2022-02-24,168.853859,179.026547,158.681172,180.193545,159.919457,10.850006,-10.160003,170.056501,176.649994,174.139999,-0.006667,0.007636,1

In [31]:
%store -r rsi_df
rsi_df.head()

         Date        RSI
14 1981-01-05  64.493299
15 1981-01-06  58.970446
16 1981-01-07  54.374494
17 1981-01-08  52.376299
18 1981-01-09  56.819429

In [32]:
rsi_df['Date'] = pd.to_datetime(rsi_df['Date'])
merged_df_3 = pd.merge(rsi_df, merged_df_2, on='Date', how='inner')

In [33]:
merged_df_3.tail()

,Date,RSI,kc_middle,kc_upper,kc_lower,BB_upperband,BB_lowerband,Max_Min_diff,Open_Close_diff,SMA,left_shoulder,right_shoulder,left_shoulder_diff,right_shoulder_diff,head_shoulders
10365,2022-02-17,46.780097,170.007667,178.210924,161.804409,181.036470,157.983530,3.440003,2.149994,169.510000,176.649994,170.539993,0.000000,0.034588,1
10366,2022-02-18,44.462683,169.878730,178.131660,161.625800,180.846092,158.662908,4.349991,2.520004,169.754500,176.649994,168.910004,0.000000,0.043815,1
10367,2022-02-22,40.397843,169.614029,178.071668,161.156391,180.624198,159.154803,4.540008,0.659989,169.889500,176.649994,169.419998,0.000000,0.040928,1
10368,2022-02-23,35.423888,169.159552,178.051425,160.267678,180.581833,159.226169,6.399994,5.469986,169.904001,176.649994,172.639999,0.000000,0.022700,1
10369,2022-02-24,40.389504,168.853859,179.026547,158.681172,180.193545,159.919457,10.850006,-10.160003,170.056501,176.649994,174.139999,-0.006667,0.007636,1

In [34]:
%store -r ma_df
ma_df['Date'] = pd.to_datetime(ma_df['Date'])
merged_df_4 = pd.merge(ma_df, merged_df_3, on='Date', how='inner')

In [35]:
merged_df_4.head(1000)

,Date,MA,RSI,kc_middle,kc_upper,kc_lower,BB_upperband,BB_lowerband,Max_Min_diff,Open_Close_diff,SMA,left_shoulder,right_shoulder,left_shoulder_diff,right_shoulder_diff,head_shoulders
0,1981-01-12,NaN,55.954516,0.140693,0.150749,0.130638,0.167874,0.109302,0.001116,0.001116,0.138588,0.161272,0.147879,0.000000,0.083046,0
1,1981-01-13,NaN,52.110395,0.140357,0.150411,0.130302,0.167896,0.110062,0.000558,0.000558,0.138979,0.161272,0.147879,-0.024821,0.060286,0
2,1981-01-14,NaN,52.500867,0.140094,0.149280,0.130907,0.167511,0.111953,0.000558,0.000000,0.139732,0.161272,0.147879,-0.039566,0.046766,1
3,1981-01-15,NaN,54.498558,0.140052,0.149088,0.131016,0.165781,0.116362,0.001116,0.000000,0.141071,0.161272,0.147879,-0.039566,0.046766,1
4,1981-01-16,NaN,53.528775,0.139938,0.148234,0.131641,0.163873,0.120558,0.000558,0.000558,0.142215,0.161272,0.147879,-0.066416,0.022145,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1984-12-14,0.110770,56.664135,0.112698,0.120693,0.104703,0.125453,0.097762,0.003907,-0.002791,0.111607,0.126674,0.138951,0.029913,-0.064106,1
996,1984-12-17,0.110960,59.844962,0.113071,0.121048,0.105095,0.126325,0.098563,0.001116,0.000000,0.112444,0.126674,0.138951,0.029913,-0.064106,1
997,1984-12-18,0.111295,66.690645,0.113772,0.122513,0.105031,0.127613,0.100289,0.000558,0.000000,0.113951,0.128348,0.138951,0.017093,-0.064106,1
998,1984-12-19,0.111551,59.169891,0.114200,0.123184,0.105217,0.127797,0.102282,0.005580,0.005022,0.115039,0.128348,0.138951,0.017093,-0.064106,1
999,1984-12-20,0.111864,58.382087,0.114582,0.123225,0.105939,0.127840,0.104136,0.002790,0.000558,0.115988,0.128348,0.138951,0.017093,-0.064106,1

In [36]:
Max_Min_diff = merged_df_4.pop('Max_Min_diff')
merged_df_4.insert(len(merged_df_4.columns), 'Max_Min_diff', Max_Min_diff)

Open_Close_diff = merged_df_4.pop('Open_Close_diff')
merged_df_4.insert(len(merged_df_4.columns), 'Open_Close_diff', Open_Close_diff)

merged_df_4.head()

df = pd.read_csv('AAPL.csv')
df.head()
new_df = df[['Date', 'Close']]
new_df.head()
new_df['Date'] = pd.to_datetime(new_df['Date'])
merged_df_4 = merged_df_4.merge(new_df[['Date', 'Close']], on='Date')

merged_df_4.head()

<ipython-input-36-810483325ff0>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Date'] = pd.to_datetime(new_df['Date'])

,Date,MA,RSI,kc_middle,kc_upper,kc_lower,BB_upperband,BB_lowerband,SMA,left_shoulder,right_shoulder,left_shoulder_diff,right_shoulder_diff,head_shoulders,Max_Min_diff,Open_Close_diff,Close
0,1981-01-12,NaN,55.954516,0.140693,0.150749,0.130638,0.167874,0.109302,0.138588,0.161272,0.147879,0.000000,0.083046,0,0.001116,0.001116,0.141183
1,1981-01-13,NaN,52.110395,0.140357,0.150411,0.130302,0.167896,0.110062,0.138979,0.161272,0.147879,-0.024821,0.060286,0,0.000558,0.000558,0.136161
2,1981-01-14,NaN,52.500867,0.140094,0.149280,0.130907,0.167511,0.111953,0.139732,0.161272,0.147879,-0.039566,0.046766,1,0.000558,0.000000,0.136719
3,1981-01-15,NaN,54.498558,0.140052,0.149088,0.131016,0.165781,0.116362,0.141071,0.161272,0.147879,-0.039566,0.046766,1,0.001116,0.000000,0.139509
4,1981-01-16,NaN,53.528775,0.139938,0.148234,0.131641,0.163873,0.120558,0.142215,0.161272,0.147879,-0.066416,0.022145,1,0.000558,0.000558,0.138393

In [37]:
merged_df_4['Price_Movement'] = merged_df_4['Close'].diff().apply(lambda x: 1 if x > 0 else 0)
merged_df_4['Price_Movement'].iloc[0] = 0 # set the first value to 0
merged_df_4 = merged_df_4.iloc[30:].reset_index(drop=True)

<ipython-input-37-1ae66230390f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_4['Price_Movement'].iloc[0] = 0 # set the first value to 0

# Now that the data has been cleaned, we can proceed to start with testing out various ML Models. 
## The ML model will take in the following input variables -
Moving Average, Relative Strength Index, Keltner Channel (Upper, Middle and Lower bounds), Bollinger Bands (Upper and Lower bounds), Simple Moving Average and the presence of head and shoulders pattern

# [Model 1]: Random Forest with hyperparameters

In [38]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score, recall_score, f1_score

# Define the features and target variable
features = ['MA', 'RSI', 'kc_middle', 'kc_upper', 'kc_lower', 'BB_upperband', 'BB_lowerband', 'SMA', 'head_shoulders']
target = 'Price_Movement'

# Split the data into training and testing sets
train_size = int(len(merged_df_4) * 0.8)
train_df = merged_df_4.iloc[:train_size]
test_df = merged_df_4.iloc[train_size:]

X_train = train_df[features]
y_train = train_df["Price_Movement"]

X_test = test_df[features]
y_test = test_df["Price_Movement"]
# Define the hyperparameters to search over
param_grid = {
    'n_estimators': [50, 100, 150],
    'max_depth': [5, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt']
}

# Create a Random Forest classifier
rfc = RandomForestClassifier(random_state=42)

# Perform grid search with cross-validation
grid_search = GridSearchCV(rfc, param_grid=param_grid, cv=3, scoring='accuracy')
grid_search.fit(X_train, y_train)

# Print the best hyperparameters and score
print('Best hyperparameters:', grid_search.best_params_)
print('Best score:', grid_search.best_score_)

# Make predictions on the testing data using the best model
best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_test)

# Evaluate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# Print the results
print('Precision:', precision)
print('Recall:', recall)
print('F1-score:', f1)

# [Model 2]: Support Vector Machine with hyperparameters

In [ ]:
merged_df_4.tail()

,Date,MA,RSI,kc_middle,kc_upper,kc_lower,BB_upperband,BB_lowerband,SMA,left_shoulder,right_shoulder,left_shoulder_diff,right_shoulder_diff,head_shoulders,Max_Min_diff,Open_Close_diff,Close,Price_Movement
10335,2022-02-17,172.6178,46.780097,170.007667,178.210924,161.804409,181.036470,157.983530,169.510000,176.649994,170.539993,0.000000,0.034588,1,3.440003,2.149994,168.880005,0
10336,2022-02-18,172.4622,44.462683,169.878730,178.131660,161.625800,180.846092,158.662908,169.754500,176.649994,168.910004,0.000000,0.043815,1,4.349991,2.520004,167.300003,0
10337,2022-02-22,172.2574,40.397843,169.614029,178.071668,161.156391,180.624198,159.154803,169.889500,176.649994,169.419998,0.000000,0.040928,1,4.540008,0.659989,164.320007,0
10338,2022-02-23,171.8698,35.423888,169.159552,178.051425,160.267678,180.581833,159.226169,169.904001,176.649994,172.639999,0.000000,0.022700,1,6.399994,5.469986,160.070007,0
10339,2022-02-24,171.6098,40.389504,168.853859,179.026547,158.681172,180.193545,159.919457,170.056501,176.649994,174.139999,-0.006667,0.007636,1,10.850006,-10.160003,162.740005,1

In [ ]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

# Create the feature matrix X and target vector y from your merged_df_4 dataframe
X = merged_df_4.drop(columns=['Price_Movement', 'Date', 'Max_Min_diff','Open_Close_diff','Close'])
y = merged_df_4['Price_Movement']

# Split the data into training and testing sets
train_size = int(len(merged_df_4) * 0.8)
train_df = merged_df_4.iloc[:train_size]
test_df = merged_df_4.iloc[train_size:]

X_train = train_df[features]
y_train = train_df["Price_Movement"]

X_test = test_df[features]
y_test = test_df["Price_Movement"]
# Scale the data using StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Create the SVM classifier and fit it to the training data
svc = SVC(kernel='rbf', C=10, gamma='scale', random_state=42)
svc.fit(X_train, y_train)

# Predict the price movement for the testing data
y_pred = svc.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6387814313346228

# [Model 3]: XGBoost with hyperparameters

In [ ]:
import xgboost as xgb
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score, recall_score, f1_score

# Define the features and target variable
features = ['MA', 'RSI', 'kc_middle', 'kc_upper', 'kc_lower', 'BB_upperband', 'BB_lowerband', 'left_shoulder', 'right_shoulder', 'head_shoulders']
target = 'Price_Movement'

# Split the data into training and testing sets
train_size = int(len(merged_df_4) * 0.8)
train_df = merged_df_4.iloc[:train_size]
test_df = merged_df_4.iloc[train_size:]

X_train = train_df[features]
y_train = train_df["Price_Movement"]

X_test = test_df[features]
y_test = test_df["Price_Movement"]

# Set up the parameter grid for GridSearchCV
param_grid = {
    'max_depth': [3, 5, 7],
    'learning_rate': [0.01, 0.1],
    'n_estimators': [100, 150, 200],
    'gamma': [0, 0.1, 0.2],
    'subsample': [0.5, 0.8, 1],
    'colsample_bytree': [0.5, 0.8, 1],
}

# Create the XGBoost classifier and perform GridSearchCV
xgb_model = xgb.XGBClassifier(random_state=42)
xgb_grid = GridSearchCV(xgb_model, param_grid=param_grid, cv=5, n_jobs=-1)
xgb_grid.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = xgb_grid.predict(X_test)

# Evaluate the performance of the model
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)
print('Best hyperparameters:', xgb_grid.best_params_)
print('Best score:', xgb_grid.best_score_)

precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print('Precision:', precision)
print('Recall:', recall)
print('F1 score:', f1)

Accuracy: 0.6203673864002578
Best hyperparameters: {'colsample_bytree': 1, 'gamma': 0, 'learning_rate': 0.01, 'max_depth': 3, 'n_estimators': 150, 'subsample': 0.5}
Best score: 0.5896077615336741
Precision: 0.6295671725688589
Recall: 0.6833435021354485
F1 score: 0.655354008191925

## [Model 4]: Decision Tree with hyperparameters

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

# Create the feature matrix X and target vector y from your merged_df_4 dataframe


X = merged_df_4.drop(columns=['Price_Movement', 'Date', 'Max_Min_diff','Open_Close_diff','Close'])
y = merged_df_4['Price_Movement']

X_size = int(len(X) * 0.8)
X_train = X.iloc[:X_size]
X_test = X.iloc[X_size:]

y_size = int(len(y) * 0.8)
y_train = y.iloc[:y_size]
y_test = y.iloc[y_size:]

# Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train = train_df[features]
y_train = train_df["Price_Movement"]

X_test = test_df[features]
y_test = test_df["Price_Movement"]


# Define the hyperparameter space to search
param_dist = {'criterion': ['gini', 'entropy'],
              'max_depth': randint(1, 10),
              'min_samples_split': randint(2, 20),
              'min_samples_leaf': randint(1, 10)}

# Create the decision tree classifier and perform a randomized search to find the best hyperparameters
dtc = DecisionTreeClassifier(random_state=42)
random_search = RandomizedSearchCV(dtc, param_distributions=param_dist, n_iter=100, cv=5, random_state=42)
random_search.fit(X_train, y_train)

# Print the best hyperparameters and their corresponding score
print("Best hyperparameters:", random_search.best_params_)
print("Best score:", random_search.best_score_)

# Use the best hyperparameters to create a new decision tree classifier and fit it to the training data
best_dtc = DecisionTreeClassifier(criterion='entropy', max_depth=7, min_samples_leaf=3, min_samples_split=12, random_state=42)
best_dtc.fit(X_train, y_train)

# Predict the price movement for the testing data
y_pred = best_dtc.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Best hyperparameters: {'criterion': 'entropy', 'max_depth': 3, 'min_samples_leaf': 7, 'min_samples_split': 12}
Best score: 0.593616722729824
Accuracy: 0.5978085723493394

# [Model 5]: Logistic Regression

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

features = ['MA', 'RSI', 'kc_middle', 'kc_upper', 'kc_lower', 'BB_upperband', 'SMA', 'BB_lowerband', 'left_shoulder', 'right_shoulder', 'head_shoulders']

X_train, X_test, y_train, y_test = train_test_split(merged_df_4[features], merged_df_4["Price_Movement"], test_size=0.3)

# Fit logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict labels for testing set
y_pred = model.predict(X_test)

# Evaluate model performance
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.622501611863314

/Users/rajeshkumar/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(